<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.calendartodo_pjt.Events.dao.EventMapper">


    <!-- insertRow --> 

    <insert id="insertRow"
            parameterType="com.example.calendartodo_pjt.Events.domain.EventRequestDTO">
        INSERT INTO TB_CALENDAR_EVENT(DAY, TITLE, CONTENT, COLOR)
        VALUES( #{day}, #{title}, #{content}, #{color})
    </insert>     

    <!-- findAllRow --> 

    <select id="findAllRow"
            parameterType="java.util.HashMap"
            resultType="com.example.calendartodo_pjt.Events.domain.EventResponseDTO">
        SELECT ID, DAY, TITLE, CONTENT, COLOR
        FROM   TB_CALENDAR_EVENT 
        WHERE  DAY LIKE CONCAT(#{currentYearMonth}, '%')
     </select>

    <!-- findlist --> 

    <select id="findlist"
            parameterType="java.util.HashMap"
            resultType="com.example.calendartodo_pjt.Events.domain.EventResponseDTO">
        SELECT ID, DAY, TITLE, CONTENT, COLOR
        FROM   TB_CALENDAR_EVENT    
        WHERE  DAY = #{ id }
    </select>

    <!-- findRow --> 

    <select id="findRow"
            parameterType="java.util.HashMap"
            resultType="com.example.calendartodo_pjt.Events.domain.EventResponseDTO">
        SELECT ID, DAY, TITLE, CONTENT, COLOR
        FROM   TB_CALENDAR_EVENT    
        WHERE  ID = #{ id }    
    </select>    

    <!-- deleteRow --> 

    <delete id="deleteRow"
            parameterType="java.util.HashMap">
        DELETE FROM TB_CALENDAR_EVENT
        WHERE       ID = #{ id }
    </delete>

    <!-- updateRow --> 

    <update id="updateRow"
            parameterType="com.example.calendartodo_pjt.Events.domain.EventRequestDTO">
        UPDATE TB_CALENDAR_EVENT
        SET    TITLE = #{ title }, CONTENT = #{ content }, COLOR = #{ color }
        WHERE  ID    = #{ id }
    </update>

    <!-- savehistoryAll --> 

    <insert id="savehistoryAll" 
            parameterType="java.util.List">
        INSERT INTO TB_CALENDAR_EVENT (DAY, TITLE, COLOR)
        <foreach collection="list" item="item" separator=" UNION ALL ">
            SELECT #{item.locdate}, #{item.dateName}, 'orange'
            FROM DUAL
            WHERE NOT EXISTS (
                SELECT 1 FROM TB_CALENDAR_EVENT 
                WHERE DAY = #{item.locdate} AND TITLE = #{item.dateName}
            )
        </foreach>
    </insert>



    
    </mapper>